body {
      margin :0;
}
            
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:darkred;
    overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
}
.navitem {
    text-align:center;
    float:left;
}
.navitem:last-child {
    border-bottom: none
    }

.navitem a {
    display:block;
    width:60px;
    color:yellow;
    text-decoration:none;
    padding: 8px 16px;
}
.navitem a.active {
    background-color:blue;
    color:black;
}

.navitem a:hover:not(.active) {
    background-color:yellow;
    color:black;
}
#main {
    margin-top:30px;
    padding:20px;
}
#main {
                margin-left : auto;
                margin-right : auto;
                width : 800px;
                border : 1px solid black;
            }  
